@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@1,500&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    justify-content: center;

}
.container{
    background-color: #FFFFFF;
    width: 870px;

}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    width: 127px;
    height: 36px;
    top: 163px;
    color: #562eff;
    font-size: 24px;


}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    gap: 2px;
    align-items: center;
    
}

.player img{
    height: 56px;
    width: 56px;

}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}

hr{
    border: 1px solid #D1D1D1;
}

 .blog  img{
    width: 117px;
    height: 117px;
 }

 .blog{
    display: flex;
 }

 .blog-info{
    margin-left: 16px;
 }

 .blog-title{
    font-size: 16px;
 }

 .blog-author{
    color: #9f9f9f;
    font-size: 16px;
 }

 .blog-author a{
    text-decoration: none;
    font-size: 16px;
    font-size: 16px;
    color: #562eff;
 }